.Rproj.user
.Rhistory
.RData
.Ruserdata
/FINAL
/data-raw/buclassfloor
/data-raw/SE
/data-raw/SHP
/data-raw/Swiss-SEP*
/data-raw/SNC
/data-raw/*.dta
/data-raw/statpop
/data/statpop
/data/SNC
/data/Swiss-SEP*
/data/*.dta
/data/*.rds
/geoadmin
/secrets
/gis
/misc
/Stata/old
/Stata/98_geocode.do
analyses/old
analyses/log
bfg*
*.html
*.png
*.zip
*.qgz
*.pgw