.Rproj.user
.Rhistory
.RData
.Ruserdata
/data/Swiss-SEP1
/data-raw/statpop
/data-raw/Swiss-SEP1
/geoadmin
/gis
/misc
/Stata/data
/Stata/do/old
/Stata/do/98_geocode.do
/Stata/gis
/Stata/orig
/Stata/textres
bfg*
*.zip
*.qgz