.Rproj.user
.Rhistory
.RData
.Ruserdata
/data/Swiss-SEP1
/data-raw/Swiss-SEP1
/data/Swiss-SEP2
/data-raw/Swiss-SEP2
/data-raw/statpop
/data/statpop
/geoadmin
/gis
/misc
/Stata/data
/Stata/do/old
/Stata/do/98_geocode.do
/Stata/gis
/Stata/orig
/Stata/textres
bfg*
*.html
*.zip
*.qgz
*.pgw